<ion-header>
  <ion-navbar>
    <ion-title>{{ 'SETTINGS' | translate }}</ion-title>
    <ion-buttons end [hidden]="!settingsForm.dirty">
      <button ion-button>
        {{ 'SAVE' | translate }}
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="settings-content">
  <div class="user-image-content">
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-40>
        <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="profile.user.image" alt="this is the image" title="IMAGE!"></preload-image>
      </ion-col>
    </ion-row>
    <ion-row no-padding class="user-image-row">
      <ion-col no-padding width-60>
        <button class="image-action-button" ion-button outline block small (click)="openImagePicker()">{{ 'CHANGE_PROFILE_PICTURE' | translate}}</button>
      </ion-col>
    </ion-row>
  </div>

  <form [formGroup]="settingsForm" class="settings-form">
    <ion-list class="user-data-content">
      <ion-item>
        <ion-label stacked>{{ 'NAME' | translate }}</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'LOCATION' | translate }}</ion-label>
        <ion-input type="text" formControlName="location"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'DESCRIPTION' | translate }}</ion-label>
        <ion-textarea formControlName="description" rows="5" placeholder="Your description here..."></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-row class="user-preferences-row">
      <span class="radio-tags-label">{{'CURRENCY' | translate}}</span>
      <ion-list class="radio-tags" radio-group formControlName="currency">
        <ion-item class="radio-tag">
          <ion-label>&#36;</ion-label>
          <ion-radio value="dollar"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&euro;</span>
          </ion-label>
          <ion-radio value="euro"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&pound;</span>
          </ion-label>
          <ion-radio value="pound"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-row class="user-preferences-row">
      <span class="radio-tags-label">{{'WEATHER' | translate}}</span>
      <ion-list class="radio-tags" radio-group formControlName="weather">
        <ion-item class="radio-tag">
          <ion-label>&deg;C</ion-label>
          <ion-radio value="celsius"></ion-radio>
        </ion-item>
        <ion-item class="radio-tag">
          <ion-label>
            <span>&deg;F</span>
          </ion-label>
          <ion-radio value="fahrenheit"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-row>

    <ion-list class="user-data-content">
    <!-- <ion-list class="user-preferences-row"> -->
      <ion-item>
        <ion-label>{{ 'SELECT_LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="language" cancelText="{{ 'CANCEL' | translate }}" okText="{{ 'OK' | translate }}">
          <ion-option *ngFor="let language of languages" [value]="language">{{ language.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-list class="switchers-list">
      <ion-item class="switcher-item">
        <ion-label>{{'NOTIFICATIONS' | translate}}</ion-label>
        <ion-toggle formControlName="notifications"></ion-toggle>
      </ion-item>
    </ion-list>
  </form>
  
	<h2>{{'SELECT_PRINTER' | translate}}</h2>
	<ion-item>
    <ion-label>{{ 'SELECT_PRINTER' | translate }}</ion-label>
		<ion-select  [(ngModel)]="ordersService.macAddress">
      <ion-option *ngFor="let device of devicesList" value="{{device.address}}">{{device.name}}</ion-option>
		</ion-select>
	</ion-item>
  <button class="alt-button rate-app-button" ion-button full (click)="rateApp()">{{'RATE_APP' | translate}}</button>
  
  <button class="alt-button" ion-button full (click)="showPrivacyModal()">{{'PRIVACY_POLICY' | translate}}</button>
  
  <button class="alt-button" ion-button full (click)="showTermsModal()">{{'TERMS_OF_USE' | translate }}</button>
  
  <button class="alt-button logout-button" ion-button full icon-left (click)="logout()">
    <ion-icon name="log-out"></ion-icon>
    {{'LOG_OUT' | translate }}
  </button>

  <pre>location_id: {{ordersService.location_id}}</pre>
  <pre>location_dest_id: {{ordersService.location_dest_id}}</pre>
  <pre>company_id: {{ordersService.company_id}}</pre>
  <pre>macAddress: {{ordersService.macAddress}}</pre>
  <pre>loginId: {{ordersService.loginId}}</pre>
  <pre>email: {{ordersService.email}}</pre>
  <pre>password: {{ordersService.password}}</pre>
  <pre>picking_type_id: {{ordersService.picking_type_id}}</pre>
  <pre>rm_geofence_sales: {{ordersService.rm_geofence_sales}}</pre>
  <pre>lat: {{ordersService.lat}}</pre>
  <pre>lng: {{ordersService.lng}}</pre>
  <pre>confirmedOrders: {{ordersService.confirmedOrders}}</pre>
  <pre>rmDatosUsuario: {{ordersService.rmDatosUsuario | json}}</pre>
  <pre>geofencesArray: {{ordersService.geofencesArray | json}}</pre>
  <pre>rmCompany: {{ordersService.rmCompany | json}}</pre>

</ion-content>