<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'STOCK' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content-clientes">
	<div class="list-mini-clientes">
		<ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" [showCancelButton]="true" (ionInput)="filterItems($event)" ></ion-searchbar>
		<div *ngIf="searching" class="spinner-container">
			<ion-spinner></ion-spinner>
		</div>
		<ion-list>
			<ion-item-sliding class="list-item" *ngFor="let item of products">
				<ion-item class="item-content">
					<h3 class="item-title">{{item.product}}</h3>
					<p class="item-description">{{item.stock}}</p>
					<p class="item-description">{{item.price}}</p>
				</ion-item>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>
