<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'STOCK' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content-clientes">
	<div class="list-mini-clientes">
		<ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'SEARCH_PRODUCTS' | translate" [formControl]="searchControl" [showCancelButton]="true" (ionInput)="filterItems($event)" ></ion-searchbar>
		<div *ngIf="searching" class="spinner-container">
			<ion-spinner></ion-spinner>
		</div>
		<ion-list>
			<ion-item-sliding class="list-item" *ngFor="let item of products">
				<ion-item class="item-content">
          <ion-row>
  					<ion-col col-7>
    					<h2 class="item-title"><b>{{item.product}}</b></h2>
            </ion-col>
            <ion-col col-5 style="text-align:right;">
              <h2 ion-text color="primary">Precio: {{item.price | number: '1.2-2'}}</h2>
              <h2 ion-text color="dark">Stock: {{item.stock | number: 0}}</h2>
            </ion-col>
          </ion-row>
				</ion-item>
			</ion-item-sliding>
		</ion-list>
	</div>
</ion-content>
