<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{'ADD_EVENT' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="forms-validations-content">

	<form class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
		<section class="form-section">
			<!-- <h2 class="section-title">{{'ADD_ORDER' | translate}}</h2> -->
			<ion-item>
				<ion-label floating>{{'NAME' | translate}}</ion-label>
				<ion-input type="text" formControlName="name"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.name">
					<div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

      //estado
      <ion-item>
        <ion-label>Maschine</ion-label>
        <ion-select  multiple="false">
            <ion-option *ngFor="let estado of validation_messages.calendarEstadoModel">{{estado.name}}</ion-option>
        </ion-select>
      </ion-item>

			<ion-item>
				<ion-label floating>{{'START_DATE' | translate}}</ion-label>
				<ion-datetime displayFormat="MM DD YYYY HH:mm:ss" pickerFormat="DD MM YYYY HH:mm" min="2016" max="2020" formControlName="start_datetime"></ion-datetime>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.start_datetime">
					<div class="error-message" *ngIf="validations_form.get('start_datetime').hasError(validation.type) && (validations_form.get('start_datetime').dirty || validations_form.get('start_datetime').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<button ion-button full type="submit" [disabled]="!validations_form.valid">{{'SUBMIT' | translate}}</button>
      <br/>
			<button ion-button full color='secondary' (click)='cancel()' type="button" >{{'CANCEL' | translate}}</button>

		</section>
	</form>
</ion-content>
