<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CUSTOMERS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content-clientes">
  <div class="list-mini-clientes">
	<ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'SEARCH_CUSTOMERS' | translate" [formControl]="searchControl" [showCancelButton]="true" (ionInput)="filterItems($event)" ></ion-searchbar>
	<div *ngIf="searching" class="spinner-container">
    <ion-spinner></ion-spinner>
  </div>
  <ion-list>
    <ion-item-sliding class="list-item" *ngFor="let item of listaClientes">
    <ion-item class="item-content">
      <ion-avatar item-start>
  			<img *ngIf="item.photo_s" src="data:image/png;base64,{{item.photo_s}}" />
  			<text-avatar *ngIf="!item.photo_s" [text]="item.name.charAt(0)" [color]="secondary" item-left></text-avatar>
  		</ion-avatar>
			<h3 class="item-title">{{item.name}}</h3>
      <h2>{{item.rm_direccion}}</h2>
      <h2>
        <span *ngIf="item.phone">
          <b>Telefono:</b> {{item.phone}}
        </span>
        <span *ngIf="item.mobile">
          <b>Cel:</b> {{item.mobile}}
        </span>
			  <span *ngIf="item.property_product_pricelist">
          <b>Tipo:</b> {{item.property_product_pricelist}}
        </span>
		
      </h2>
			<button ion-button  (click)="showMap(item)" color="secondary" item-end icon-end>
        <ion-icon name="flag"></ion-icon>
      </button>
      <button ion-button  (click)="addOrder(item)" color="secondary" item-end icon-end>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-item>

          <ion-item-options side="left">
            <button *ngIf="item.mobile" ion-button color="secondary" (click)="call(item.mobile)">
              <ion-icon name="call"></ion-icon>
              {{ 'CALL_MOBILE' | translate}}
            </button>
            <button *ngIf="item.phone" ion-button color="light" (click)="call(item.phone)">
              <ion-icon name="call"></ion-icon>
              {{ 'CALL_PHONE' | translate}}
            </button>
            <button *ngIf="item.email" ion-button  (click)="email(item.email)">
              <ion-icon name="mail"></ion-icon>
              {{ 'EMAIL' | translate}}
            </button>
          </ion-item-options>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteCustomer(item)">
              <ion-icon name="trash"></ion-icon>
              {{ 'DELETE' | translate}}
            </button>
            <button ion-button color="secondary" (click)="editCustomer(item)">
              <ion-icon name="create"></ion-icon>
              {{ 'EDIT' | translate}}
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
  <ion-fab right bottom>
    <button ion-fab (click)="agregarCliente()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
