<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'CUSTOMERS' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="list-mini-content-clientes">
  <div class="list-mini-clientes">
	<ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'SEARCH_CUSTOMERS' | translate" [formControl]="searchControl" [showCancelButton]="true" (ionInput)="filterItems($event)" ></ion-searchbar>
	<div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item-sliding class="list-item" *ngFor="let item of listaClientes">
          <ion-item class="item-content">
            <ion-avatar item-start>
				<img *ngIf="item.photo_s" src="data:image/png;base64,{{item.photo_s}}" />
				<text-avatar *ngIf="!item.photo_s" [text]="item.rm_nombre.charAt(0)" [color]="secondary" item-left></text-avatar>
			</ion-avatar>
			<h3 class="item-title">{{item.rm_nombre}}</h3>
            <h2>{{item.rm_direccion}}</h2>
            <h2>
              <span *ngIf="item.rm_telefono">
                <b>Telefono:</b> {{item.rm_telefono}}
              </span>
              <span *ngIf="item.rm_celular">
                <b>Cel:</b> {{item.rm_celular}}
              </span>
			  <span *ngIf="item.tipo">
                <b>Tipo:</b> {{item.tipo}}
              </span>
            </h2>
            <button ion-button  (click)="showMap(item)" color="secondary" item-end icon-end>
              {{ 'MAP' | translate}}
              <ion-icon name="flag"></ion-icon>
            </button>
          </ion-item>

          <ion-item-options side="left">
            <button ion-button color="secondary" (click)="call(item.rm_celular)">
              <ion-icon name="call"></ion-icon>
              {{ 'CALL_MOBILE' | translate}}
            </button>
            <button ion-button color="light" (click)="call(item.rm_telefono)">
              <ion-icon name="call"></ion-icon>
              {{ 'CALL_PHONE' | translate}}
            </button>
            <button ion-button  (click)="email(item.email)">
              <ion-icon name="mail"></ion-icon>
              {{ 'EMAIL' | translate}}
            </button>
          </ion-item-options>

          <ion-item-options side="right">
            <button ion-button color="danger" (click)="deleteCustomer(item)">
              <ion-icon name="trash"></ion-icon>
              {{ 'DELETE' | translate}}
            </button>
            <button ion-button color="secondary" (click)="editCustomer(item)">
              <ion-icon name="create"></ion-icon>
              {{ 'EDIT' | translate}}
            </button>
          </ion-item-options>
      </ion-item-sliding>
    </ion-list>

  </div>
  <ion-fab right bottom>
    <button ion-fab (click)="agregarCliente()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
