// Common list styles can be found in "./common.styles/layouts/lists"

clientes {
	ion-header {
		@include header-styles(color($colors, header-alt, base), color($colors, header-alt, contrast));
	}

	.list-mini-content-clientes {
		background-color: color($colors, background, base);

		.list-mini-clientes {
			@include layout-list-styles($theme-color-2, $white-d);

			ion-list {
				ion-item-sliding {
					padding: 0 !important;
					margin: 0;

					ion-item {
						border-bottom: 1px solid #efefef !important;
						height: 70px;
						padding: 0;
						margin: 0;

						.list-item {
							padding: 0;
							margin: 0;

							.content-row {
								.item-title {
									overflow: hidden;
									text-overflow: ellipsis;
									white-space: nowrap;
								}

								&.one-line {
									@include align-items(center);

									.item-description {
										overflow: hidden;
										text-overflow: ellipsis;
										white-space: nowrap;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
