<!--
  Generated template for the SkillAutocompletePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
	<ion-navbar>

		<ion-title>{{'SELECT_PRODUCT' | translate}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content padding class="forms-validations-content agregarProducto">
	<ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'SEARCH_PRODUCTS' | translate" [showCancelButton]="true" (ionInput)="updateSearch()" ></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let product of products" tappable (click)="chooseItem(product)">
			{{ product.product }} - {{ product.stock }}
		</ion-item>
	</ion-list>
	<form class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">

		<section class="form-section">
			<!-- <h2 class="section-title">{{'SELECT_PRODUCT' | translate}}</h2> -->


			<br/><br/>
			<ion-item>
				<ion-label floating>{{'Product' | translate}}</ion-label>
				<ion-input type="text" formControlName="product"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.product">
					<div class="error-message" *ngIf="validations_form.get('product').hasError(validation.type) && (validations_form.get('product').dirty || validations_form.get('product').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'QUANTITY' | translate}}</ion-label>
				<ion-input type="number" formControlName="quantity"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.quantity">
					<div class="error-message" *ngIf="validations_form.get('quantity').hasError(validation.type) && (validations_form.get('quantity').dirty || validations_form.get('quantity').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>



			<br/><br/>
			<button ion-button full type="submit" [disabled]="!validations_form.valid">{{'SUBMIT' | translate}}</button>
			<br/><br/>
			<button ion-button full type="button" (click)="cancel()" >{{'CANCEL' | translate}}</button>

		</section>
	</form>
</ion-content>
