print-order-page {
	h4,b {
		text-transform:uppercase;
	}
	h2 {
		text-align:center;
		margin-bottom:0 !important;		
	}
	p {
		text-align:center;
		margin:0 !important;
	}
	ion-col {
		padding:2px !important;
	}
	.bill-details ion-col,
	.order-details ion-col{
		border-bottom:1px dotted #000;
		padding-bottom:5px;
	}
	
	.order-summary ion-col{
		border-top:1px dotted #000;
		padding-top:5px;
	}
	.total-summary ion-col {
		border-top:1px dotted #000;
		padding-top:5px;
		border-bottom:1px dotted #000;
		padding-bottom:5px;
	}
}
