<ion-header>
  <ion-navbar>
    <ion-title>{{ 'PRINT_PREVIEW' | translate }}</ion-title>
		<ion-nav-buttons  side="right">
			<ion-item>
				<ion-label>{{ 'SELECT_PRINTER' | translate }}</ion-label>
				<ion-select  [(ngModel)]="ordersService.macAddress">
					<ion-option *ngFor="let device of devicesList" value="{{device.address}}">{{device.name}}</ion-option>
				</ion-select>
			</ion-item>
		</ion-nav-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
	<div id="orderDiv">
		<!-- <h2>{{'BUSINESS_NAME' | translate}}</h2> -->
		<h2 *ngIf="loginObj && loginObj.rmCompany">{{loginObj.rmCompany.name}}</h2>
		<!-- <p *ngIf="loginObj && loginObj.rmCompany"><b>{{loginObj.rmCompany.street}}</b></p> -->
		<!-- <p><b>{{'ADDRESS_2' | translate}}</b></p> -->
		<!-- <p><b>{{'PHONE' | translate}}</b></p> -->
		<!-- <p><b>{{'DUPLICATE_BILL' | translate}}</b></p> -->
		<ion-row class="bill-details">
			<ion-col col-12 style='text-align:center'>
				<b>{{'BILL_NO' | translate}}: {{orderObj.numberOrder}}</b>
			</ion-col>
    </ion-row>
    <ion-row>
			<ion-col col-12 style='text-align:center'>
				<b>{{'DATE' | translate}}: {{orderObj.dateOrder | date: 'dd/MM/yyyy H:mm'}}</b>
			</ion-col>
		</ion-row>
		<ion-grid *ngIf="orderObj && orderObj.selectedProducts && orderObj.selectedProducts.length > 0" >
			<ion-row class="order-details">
				<ion-col col-6>
					<b>{{'Product' | translate}}</b>
				</ion-col>
        <ion-col col-2 class="rm_numero">
          <b>{{'Quantity' | translate}}</b>
        </ion-col>
				<ion-col col-2 class="rm_numero">
					<b>{{'Price' | translate}}</b>
				</ion-col>
				<ion-col col-2 class="rm_numero">
					<b>{{'Sub_Total' | translate}}</b>
				</ion-col>

			</ion-row>
			<ion-row  class="product-details"  *ngFor="let product of orderObj.selectedProducts">
				<ion-col col-6>
					{{product.product.product}}
				</ion-col>
				<ion-col col-2 class="rm_numero">
          {{product.quantity}}
				</ion-col>
				<ion-col col-2 class="rm_numero">
          {{getProductPrice(product)}}
				</ion-col>
				<ion-col col-2 class="rm_numero">
					{{product.quantity * getProductPrice(product) | number: '1.2-2'}}
				</ion-col>
			</ion-row>

      <ion-row class="order-summary">
				<ion-col col-6>
					<b>TOTAL</b>
				</ion-col>
				<ion-col col-2>
          <!-- <b>{{orderObj.selectedProducts.length}}</b> -->
				</ion-col>
				<ion-col col-2>
				</ion-col>
				<ion-col col-2 class="rm_numero">
          <b>{{getTotal() | number: '1.2-2' }}</b>
				</ion-col>
			</ion-row>
		</ion-grid>
		<!-- <p><b>{{'DELIVERY_MESSAGE' | translate}}</b></p> -->
		<!-- <p><b>{{'THANKYOU' | translate}}</b></p> -->
	</div>
</ion-content>
<ion-footer>
	<button ion-button full type="button"   (click)="printOrder()">{{'CONFIRM_PRINT' | translate}}</button>
	<!-- <button ion-button full type="button"   (click)="findPrinter()">{{'FINDPRINTER' | translate}}</button> -->
	<button ion-button full type="button" color='danger'   (click)="dismiss()">{{'CANCEL' | translate}}</button>
</ion-footer>
