<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!customer" >{{'ADD_CUSTOMER' | translate}}</ion-title>
	<ion-title *ngIf="customer" >{{'EDIT_CUSTOMER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="forms-validations-content">
	<form class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
		<section class="form-section">
			<!-- <h2 *ngIf="!customer"  class="section-title">{{'ADD_CUSTOMER' | translate}}</h2>
			<h2 *ngIf="customer"  class="section-title">{{'EDIT_CUSTOMER' | translate}}</h2> -->
			<ion-item>
				<ion-label floating>{{'NAME' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_nombre"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_nombre">
					<div class="error-message" *ngIf="validations_form.get('rm_nombre').hasError(validation.type) && (validations_form.get('rm_nombre').dirty || validations_form.get('rm_nombre').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'TIPO' | translate}}</ion-label>
				<ion-select formControlName="tipo">
					<ion-option value="CG">CG</ion-option>
					<ion-option value="CH">CH</ion-option>
					<ion-option value="CM">CM</ion-option>
				</ion-select>	
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.name">
					<div class="error-message" *ngIf="validations_form.get('tipo').hasError(validation.type) && (validations_form.get('tipo').dirty || validations_form.get('tipo').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'ADDRESS' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_direccion"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_direccion">
					<div class="error-message" *ngIf="validations_form.get('rm_direccion').hasError(validation.type) && (validations_form.get('rm_direccion').dirty || validations_form.get('rm_direccion').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'TELEPHONE' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_telefono"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_telefono">
					<div class="error-message" *ngIf="validations_form.get('rm_telefono').hasError(validation.type) && (validations_form.get('rm_telefono').dirty || validations_form.get('rm_telefono').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'MOBILE' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_celular"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_celular">
					<div class="error-message" *ngIf="validations_form.get('rm_celular').hasError(validation.type) && (validations_form.get('rm_celular').dirty || validations_form.get('rm_celular').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'EMAIL' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_email"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_email">
					<div class="error-message" *ngIf="validations_form.get('rm_email').hasError(validation.type) && (validations_form.get('rm_email').dirty || validations_form.get('rm_email').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'RAZON_SOCIAL' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_razon_social"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_razon_social">
					<div class="error-message" *ngIf="validations_form.get('rm_razon_social').hasError(validation.type) && (validations_form.get('rm_razon_social').dirty || validations_form.get('rm_razon_social').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'NIT' | translate}}</ion-label>
				<ion-input type="text" formControlName="rm_nit"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_nit">
					<div class="error-message" *ngIf="validations_form.get('rm_nit').hasError(validation.type) && (validations_form.get('rm_nit').dirty || validations_form.get('rm_nit').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'LATITUDE' | translate}}</ion-label>
				<ion-input type="text" [readonly]="true" formControlName="rm_latitude"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_latitude">
					<div class="error-message" *ngIf="validations_form.get('rm_latitude').hasError(validation.type) && (validations_form.get('rm_latitude').dirty || validations_form.get('rm_latitude').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'LONGITUDE' | translate}}</ion-label>
				<ion-input type="text" [readonly]="true" formControlName="rm_longitude"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_longitude">
					<div class="error-message" *ngIf="validations_form.get('rm_longitude').hasError(validation.type) && (validations_form.get('rm_longitude').dirty || validations_form.get('rm_longitude').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<br/><br/>
			<button ion-button full color='secondary' type="button" (click)="showMap()"  >{{'GET_LOCATION' | translate}}</button>	
			<br/><br/>
			<img src="data:image/jpeg;base64,{{customerImage ? customerImage : defaultImage}}" alt="" />
			<br/><br/>
			<button ion-button full color='secondary' type="button" (click)="takePicture()"  >{{'TAKE_PICTURE' | translate}}</button>	
			<br/><br/>
			<button ion-button full type="submit" [disabled]="!validations_form.valid">{{'SUBMIT' | translate}}</button>
		</section>
	</form>
</ion-content>
