<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button form="rm_form_customer" color='primary' outline ion-button   [disabled]="!validations_form.valid">{{'SAVE' | translate}}
      </button>
    </ion-buttons>

    <ion-title *ngIf="!customer" >{{'ADD_CUSTOMER' | translate}}</ion-title>
    <ion-title *ngIf="customer" >{{'EDIT_CUSTOMER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="forms-validations-content">
	<form id="rm_form_customer" class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
		<section class="form-section">
			<!-- <h2 *ngIf="!customer"  class="section-title">{{'ADD_CUSTOMER' | translate}}</h2>
			<h2 *ngIf="customer"  class="section-title">{{'EDIT_CUSTOMER' | translate}}</h2> -->
			<ion-item>
				<ion-label floating>{{'NAME' | translate}}</ion-label>
				<ion-input type="text" formControlName="name"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.name">
					<div class="error-message" *ngIf="validations_form.get('name').hasError(validation.type) && (validations_form.get('name').dirty || validations_form.get('name').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'property_product_pricelist' | translate}}</ion-label>
				<ion-select formControlName="property_product_pricelist">
					<ion-option value="CG (BOB)">CG</ion-option>
					<ion-option value="CH (BOB)">CH</ion-option>
					<ion-option value="CM (BOB)">CM</ion-option>
				</ion-select>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.name">
					<div class="error-message" *ngIf="validations_form.get('property_product_pricelist').hasError(validation.type) && (validations_form.get('property_product_pricelist').dirty || validations_form.get('property_product_pricelist').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'ADDRESS' | translate}}</ion-label>
				<ion-input type="text" formControlName="street"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.street">
					<div class="error-message" *ngIf="validations_form.get('street').hasError(validation.type) && (validations_form.get('street').dirty || validations_form.get('street').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'TELEPHONE' | translate}}</ion-label>
				<ion-input type="text" formControlName="phone"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.phone">
					<div class="error-message" *ngIf="validations_form.get('phone').hasError(validation.type) && (validations_form.get('phone').dirty || validations_form.get('phone').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'MOBILE' | translate}}</ion-label>
				<ion-input type="text" formControlName="mobile"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.mobile">
					<div class="error-message" *ngIf="validations_form.get('mobile').hasError(validation.type) && (validations_form.get('mobile').dirty || validations_form.get('mobile').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'EMAIL' | translate}}</ion-label>
				<ion-input type="text" formControlName="email"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.email">
					<div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'RAZON_SOCIAL' | translate}}</ion-label>
				<ion-input type="text" formControlName="razon_social"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.razon_social">
					<div class="error-message" *ngIf="validations_form.get('razon_social').hasError(validation.type) && (validations_form.get('razon_social').dirty || validations_form.get('razon_social').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'NIT' | translate}}</ion-label>
				<ion-input type="text" formControlName="nit"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.nit">
					<div class="error-message" *ngIf="validations_form.get('nit').hasError(validation.type) && (validations_form.get('nit').dirty || validations_form.get('nit').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'LATITUDE' | translate}}</ion-label>
				<ion-input type="text" [readonly]="true" formControlName="rm_latitude"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_latitude">
					<div class="error-message" *ngIf="validations_form.get('rm_latitude').hasError(validation.type) && (validations_form.get('rm_latitude').dirty || validations_form.get('rm_latitude').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'LONGITUDE' | translate}}</ion-label>
				<ion-input type="text" [readonly]="true" formControlName="rm_longitude"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.rm_longitude">
					<div class="error-message" *ngIf="validations_form.get('rm_longitude').hasError(validation.type) && (validations_form.get('rm_longitude').dirty || validations_form.get('rm_longitude').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<br/><br/>
			<button ion-button full color='secondary' type="button" (click)="showMap()"  >{{'GET_LOCATION' | translate}}</button>
			<br/><br/>
			<img src="data:image/jpeg;base64,{{customerImage ? customerImage : defaultImage}}" alt="" />
			<br/><br/>
			<button ion-button full color='secondary' type="button" (click)="takePicture()"  >{{'TAKE_PICTURE' | translate}}</button>
		</section>
	</form>
</ion-content>
