<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>{{'ADD_ORDER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="forms-validations-content agregarPedido">
	<ion-searchbar [(ngModel)]="searchTerm" [placeholder]="'SEARCH_CUSTOMERS' | translate" [showCancelButton]="true" (ionInput)="updateSearch()" ></ion-searchbar>
	<ion-list>
		<ion-item *ngFor="let customer of customers" tappable (click)="chooseItem(customer)">
			{{ customer.name }}
		</ion-item>
	</ion-list>
	<form class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
		<section class="form-section">
			<!-- <h2 class="section-title">{{'ADD_ORDER' | translate}}</h2> -->
			<ion-item>
				<ion-label floating>{{'CUSTOMER' | translate}}</ion-label>
				<ion-input type="text" formControlName="customer"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.customer">
					<div class="error-message" *ngIf="validations_form.get('customer').hasError(validation.type) && (validations_form.get('customer').dirty || validations_form.get('customer').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>


			<ion-item>
				<ion-label floating>{{'Order_Date' | translate}}</ion-label>
				<ion-datetime displayFormat="DD MM YYYY" pickerFormat="DD MM YYYY" formControlName="dateOrder" min="2016" max="2020" ></ion-datetime>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.dateOrder">
					<div class="error-message" *ngIf="validations_form.get('dateOrder').hasError(validation.type) && (validations_form.get('dateOrder').dirty || validations_form.get('dateOrder').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			<ion-item>
				<ion-label floating>{{'Notes' | translate}}</ion-label>
				<ion-input type="text" formControlName="notes"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.notes">
					<div class="error-message" *ngIf="validations_form.get('notes').hasError(validation.type) && (validations_form.get('notes').dirty || validations_form.get('notes').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			<br/><br/>
			<ion-grid *ngIf="selectedProducts && selectedProducts.length > 0" >
				<ion-row class="rmCabezeraNegra">
					<ion-col col-4>
						<b>{{'Product' | translate}}</b>
					</ion-col>
          <ion-col col-2 class="rmNumero">
            <b>{{'Qty' | translate}}</b>
          </ion-col>
					<ion-col col-2 class="rmNumero">
						<b>{{'PU' | translate}}</b>
					</ion-col>
					<ion-col col-3 class="rmNumero">
						<b>{{'Sub_Total' | translate}}</b>
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
				<ion-row *ngFor="let product of selectedProducts">
					<ion-col col-4>
						{{product.product.product}}
					</ion-col>
          <ion-col col-2 class="rmNumero">
            {{product.quantity | number: '1.0-0'}}
          </ion-col>
					<ion-col col-2 class="rmNumero">
						{{getProductPrice(product) | number: '1.2-2'}}
					</ion-col>
					<ion-col col-3 class="rmNumero">
						{{getProductTotal(product) | number: '1.2-2'}}
					</ion-col>
					<ion-col col-1>
						<ion-icon color='danger' class='borrar' (click)="removeProduct(product.product.id)" name="close-circle"></ion-icon>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-8>
						<b>{{'Total' | translate}}</b>
					</ion-col>
					<ion-col col-3 class="rmNumero">
						<b>{{getTotal() | number: '1.2-2'}}</b>
					</ion-col>
          <ion-col col-1>
          </ion-col>
				</ion-row>
			</ion-grid>
      <br/>
			<button *ngIf="customerObj" ion-button full type="button"  block (click)="addProducts()">{{'ADD_PRODUCTS' | translate}}</button>
			<br/>
			<button ion-button full type="submit" block [disabled]="!validations_form.valid">{{'SUBMIT' | translate}}</button>
		</section>
	</form>
</ion-content>
