<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'ADD_ORDER' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="forms-validations-content">
	<form class="sample-form validations-form" [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
		<section class="form-section">
			<h2 class="section-title">{{'ADD_ORDER' | translate}}</h2>
			<ion-item>
				<ion-label floating>{{'Customer' | translate}}</ion-label>
				<ion-select formControlName="customer">
					<ion-option *ngFor="let item of customersList.items" [value]="item.id">{{item.name}}</ion-option>
				</ion-select>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.customer">
					<div class="error-message" *ngIf="validations_form.get('customer').hasError(validation.type) && (validations_form.get('customer').dirty || validations_form.get('customer').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>

			
			<ion-item>
				<ion-label floating>{{'Order Date' | translate}}</ion-label>
				<ion-datetime displayFormat="YYYY-MM-DD" pickerFormat="YYYY-MM-DD" formControlName="dateOrder"></ion-datetime>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.dateOrder">
					<div class="error-message" *ngIf="validations_form.get('dateOrder').hasError(validation.type) && (validations_form.get('dateOrder').dirty || validations_form.get('dateOrder').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			
			<ion-item>
				<ion-label floating>{{'Notes' | translate}}</ion-label>
				<ion-input type="text" formControlName="notes"></ion-input>
			</ion-item>
			<div class="validation-errors">
				<ng-container *ngFor="let validation of validation_messages.notes">
					<div class="error-message" *ngIf="validations_form.get('notes').hasError(validation.type) && (validations_form.get('notes').dirty || validations_form.get('notes').touched)">
						{{ validation.message }}
					</div>
				</ng-container>
			</div>
			<br/><br/>
			<ion-grid *ngIf="selectedProducts && selectedProducts.length > 0" >
				<ion-row>
					<ion-col col-4>
						<b>{{'Prodcut' | translate}}</b>
					</ion-col>
					<ion-col col-2>
						<b>{{'Price' | translate}}</b>
					</ion-col>
					<ion-col col-2>
						<b>{{'Quantity' | translate}}</b>
					</ion-col>
					
					<ion-col col-2>
						<b>{{'Sub Total' | translate}}</b>
					</ion-col>
					<ion-col col-2>
						
					</ion-col>
				</ion-row>
				<ion-row *ngFor="let product of selectedProducts">
					<ion-col col-4>
						{{product.product.product}}
					</ion-col>
					<ion-col col-2>
						{{product.product.price}}
					</ion-col>
					<ion-col col-2>
						{{product.quantity}}
					</ion-col>
					<ion-col col-2>
						{{product.quantity * product.product.price}}
					</ion-col>
					<ion-col col-2>
						<ion-icon color='danger' (click)="removeProduct(product.product.id)" name="close-circle"></ion-icon>
						
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col col-10>
						<b>{{'Total' | translate}}</b>
					</ion-col>
					
					<ion-col col-2>
						<b>{{getTotal()}}</b>
					</ion-col>
				</ion-row>
			</ion-grid>
			
			<button ion-button full type="button"   (click)="addProducts()">{{'ADD_PRODUCTS' | translate}}</button>
			
			<br/><br/>
			<button ion-button full type="submit" [disabled]="!validations_form.valid">{{'SUBMIT' | translate}}</button>
		</section>
	</form>
</ion-content>
